<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ad.util.GeneralPurposeTree" connectionString="Data Source=.;Integrated Security=True;Initial Catalog=ad_util_GeneralPurposeTree" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>