<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Insight.Database" version="5.2.7" targetFramework="net452" />
  <package id="Insight.Database.Core" version="5.2.7" targetFramework="net452" />
  <package id="Insight.Database.Schema" version="2.2.10" targetFramework="net452" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net452" />
  <package id="NLog" version="4.2.0" targetFramework="net452" />
  <package id="NLog.Config" version="4.2.0" targetFramework="net452" />
  <package id="NLog.Schema" version="4.0.0" targetFramework="net452" />
</packages>